div {
    display: block;

}

.gameButtons {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    width: auto;
    height: auto;
    display: inline-block;
    background-color: black;
    color: white;
    font-size: x-large;
    font-style: italic;
}

.results {
    text-align: center;
    margin: 10px 0 15px;
    color: white;
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
    transition-delay: 2s;
}

body {
    background-color: #0bd3d3;
}

p {
    display: inline-block;
    margin: 1% 10px 20px 10px;
    font-size: 200px;
    background-color: #f890e7;
    padding: 10px;
    border: solid 2px black;
    height: 229px;
    width: 200px;
    color: white;
}

.scoreboard {
    text-align: center;
}

#divider {
    background-color: white;
    border: none;
    height: 30px;
    width: 50px;
    padding: 0px;
    margin: 0 0 35px;
}

button:hover {
    background-color:  #f890e7;
    transform: scale(1.1);
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: white;
}